#overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: rgba(59, 59, 59, 0.5);
  z-index: 500;

  display: none;/* flex; will be toggled by javascript */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#overlay p {
  margin: 0;
}

#user-type-form {
  font-family: 'Lucida Sans',
    'Lucida Sans Regular',
    'Lucida Grande',
    'Lucida Sans Unicode',
    Geneva,
    Verdana,
    sans-serif;

  font-size: 12pt;

  height: 55vh;
  width: 75vh;
  padding: 2.5em;
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#user-type-form .form-instructions {
  width: max-content;
}

#overlay .radio-buttons-wrapper {
  align-self: stretch;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: black;
}
#overlay .radio-buttons-wrapper input {
  margin: 0;
}
#overlay .radio-buttons-wrapper span {
  width: 5em;
  margin: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar-nav>li>a
{
  font-weight: 400;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 15px;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
    display: flex;
    align-self: center;
}

#navbar-items li{
  padding-top: 0%;
  padding-bottom: 0%;
}

ul {
  list-style: none;
}

#partners-div {
  background-color: whitesmoke;
  box-shadow: inset 1px -4px 20px 0px #C8C8C8;
  margin-bottom: 20px;
  margin-top: 10px;
  height: 160px;
  display: flex;
  align-items: center;
}

#partners-content {
  margin: 0px;
  padding: 0px;
}

#partners-content li{
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
}

#SRRC-logo {
  width: 9%;
  margin-left: 38%;
}

#sticker-mule-logo {
  width: 9%;
  margin-right: 38%;
}

#follow-us-icons li{
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
}

#follow-us-icons {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
}

section#follow-us-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

#follow-us-content {
  width: 100%;
  margin: 0px;
}

#facebook {
  height: 41px;
  width: 41px;
}

#instagram {
  height: 45px;
  width: 45px;
}

#gmail {
  height: 45px;
  width: 45px;
}

#twitter {
  height: 50px;
  width: 50px;
}

#navigation-menu{
  height: 100%;
  margin: 0%;
  padding: 0px;
}

#login-button {
    color: white;
    background-color: transparent;
    border-color: white;
    font-family: 
}

#login-span {
    float: right;
    padding-top: 1%;
    margin-right: 15px;
    margin-left: auto;     
}

#logo {
  height: 35px;
  width: 35px;
  float: left;
  margin-left: 15px;
  margin-right: 5px;
  margin-top: 15%;
}

#navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  background:
      linear-gradient(180deg, #95751db3, #c0962500 100%);
  background-color: transparent;
  border-radius: 0%;
  height: 50px;
  /*box-shadow: 0px 4px 7px #777;*/
  transition: background-color 0.4s ease-out;
}

#apply-btn {
  color: #fff;
  background-color: #0aa9f7;
  border-color: #0aa9f7;
}

#resources-btn {
  color: #fff;
  background-color: #f2b742;
  border-color: #f2b742;
}

#form-submit {
  background-color: #56e29f;
  border-color: #56e29f;
}

p{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
}

h1{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.div-left{
    float: left;
}

.div-right{
    float: right;
}

.faq-pic{
  left: 50%;
  top: 50%;
  width: 50%;
  display: inline-block;

}

a .left carousel-control{
  background-color: red;
}

.carousel-indicators li { visibility: hidden; }

section{border-style: none;}

#Team_photos{
  text-align: center;
  width: 100%;
  margin: 0px;
  display: inline;
  justify-content: center;
}

.board_photo{
  display: inline-block;
  margin: 15px;
  height: 30%;
  width: 30%;
}

.main-pic{
  #margin-top: 3%;
  height: 85%;
  background-size: cover;
}

.carousel-inner{
  width: 100%;
  background-size: cover;
  background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
  box-shadow: -1px 12px 20px 0px #888888;
}

.carousel-inner>.item {
  width: 100%;

}

img.slideshow_image{
  display: block;
  margin: 0 auto;
  width: 70%;
  height: auto;
}
img.center_image{
  display: block;
  margin: 0 auto;
  width: 40%;
  height: auto;
}


.header{
}

.landing_page{
	height: 10%;
	/*height: 90vh;*/
}

.about_us{
	height: 10%;
	 /*height: 75vh;*/
}

.block_title{
	text-align: center;
	font-size: 200%;
}

.block_text{
	margin-right: 10%;
	margin-left: 10%;
	/*
	margin-right: 250px;
	margin-left: 250px;
	*/
}

.volunteer{
  text-align: center;
}

.resources{
   text-align: center;
}


.team {
    text-align: center;
    background-position:center;
}

.Faq{
    text-align: center;
   background-position:center;
}


.Footer{
clear: left;
}

.left{
	float: left;
}

.white{
	color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.icon {
    display: none;
}

/* Style the element that is used to open and close the accordion class */
p.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the accordion if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
p.accordion.active, p.accordion:hover {
    background-color: #ddd;
}

/* Unicode character for "plus" sign (+) */
p.accordion:after {
    content: '\2795'; 
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

/* Unicode character for "minus" sign (-) */
p.accordion.active:after {
    content: "\2796"; 
}

/* Style the element that is used for the panel class */

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    opacity: 0;
    margin-bottom:10px;
}

div.panel.show {
    opacity: 1;
    max-height: 500px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  clear: both;
}

.navbar {
  position: initial;
  border: 1px solid transparent;
}

.container-fluid{
    #background-color: powderblue;
}

body {
    margin:0;
    width:100%;
    height:100%;
    background:white;
    overflow: auto;
    float: left;
    margin-right: 0;
}

.clear{
  clear:both;
}

.container{
  width:  100%;
  padding-right: 0px; 
  padding-left: 0px;
  margin-right: 0px;
  margin-left: 0px;
  display: flex;
  align-items: center;
}

.float-left{
  float:left;
}
.float-right{
  float:right;
}

.half-padded-left{
  max-width:50%;
  padding-left:10%;
}

.half-padded-right{
  max-width:50%;
  padding-right:10%;
}

.faq-left{
  max-width:30%;
}

.faq-right{
  max-width:50%;
}

.container-top {
	width: 80%;
	margin: 0 auto;
	padding: 0 30px;
}

header {
	width: 100%;
	height: 8vw;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: #c6f4e6;
	transition: height 0.3s;
}

header h1#logo {
	display: inline-block;
	line-height:1em;
   margin: 0;
	float: left;
	font-family: "Open Sans", sans-serif;
	font-size: 60px;
	color: #3a7261;
	font-weight: 400;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

header nav {
	display: inline-block;
	float: right;
}

header nav a {
	line-height: 150px;
	margin-left: 20px;
	color: #3a7261;
	font-weight: 400;
	font-size: 1em;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

header nav a:hover {
	color: #fd5559;
}

header.smaller {
	height: 75px;
}

header.smaller h1#logo {
	line-height: 75px;
	font-size: 0px;
}

header.smaller nav a {
	line-height: 75px;
}

#wrap-page4 {
  max-width:1000px;
  margin: auto;
}

#wrap-page5 {
  max-width:1000px;
  margin: auto;
}

#wrap-page6 {
  max-width:1000px;
  margin: auto;
}

#main {
  /*max-width:1000px;
  margin: auto;*/
  width: 100%;
}

.full-padded{
  width:90%;
  padding: 2%;
  margin: auto;
}

.faq-half{
  width:50%;
  padding-right: 5%;
  margin: auto;
}

#myCarousel {
  width: 50%;
  float: right;
  margin-right: 5%;
}

#colored-about-wrapper {
  width: 40%;
  float: left;
  margin-left: 5%;
}

.image-wrapper {
  width: 45%;
  justify-content: center;
  flex-direction: column;
}

#media-coverage {
  height: 51%;
  width: 51%;
  margin-top: 20px;
  border-radius: 100%;
  box-shadow: 4px 6px 21px #919191;
}

.image-wrapper a {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.text-wrapper {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: white;
}

.text-wrapper h2 {
  margin-bottom: 20px;
} 

#Mission-statement {
  width: 100%;
  height: 300px;
  background-color: #001926;
  display: flex;
  justify-content: center;
  flex-direction: row;
  box-shadow: -1px 12px 20px 0px #888888;
}

#about-wrapper-2 {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
  margin-left: 0px;
  display: flex;
  align-items: center;
}

#family-image {
  width: 80%;
  height: 80%;
}

#family-wrap {
  width: 50%;
  float: right;
  margin-right: 5%;
  display: flex;
  justify-content: center;
}

.empty-block{
  width: 100%;
  height: 40px;
}

.officer_pic{
    max-width:100%;
    height:auto;
    margin-bottom: 15px;
}
