<!-- this should take up entire width -->
<div id="containing-layer">

  <!-- wrapper used for sliding horizontally -->
  <span id="wrapper">
    <div id="containing-column">
      <h2 class="text title">
        About CS4K
      </h2>
      <p class="text body">
        Computer Science for Kids (CS4K) is a student-run community service
        organization that provides UC Davis students the opportunity to apply
        their computer science knowledge and experience in the classrooms.
        CS4K strives to give every child an opportunity to learn computer science
        and to spark their interest in the field as a possible career path.
      </p>
    </div>
  </span>
</div>
