* {
  font-family: Avenir, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2vw;
  font-weight: lighter;
  text-align: left;

  // aims to apply to all text
  .text {
    color: white;
  }
}

#containing-layer {
  display: flex;
  flex-direction: row;
  align-items: center;

  #wrapper {
    height: auto;
    width: 40%;
    $margin-left: 7.5vw;
    margin-left: $margin-left;
    // Screen width where wrapper takes up full screen
    $tight-screen-width: 360px;
    min-width: $tight-screen-width;
    
    $just-under-tight-screen-width: calc(#{$tight-screen-width} - 1px);
    @media screen and (max-width: #{$just-under-tight-screen-width}) {
      $side-margin: 5vw;
      $new-width: calc(100vw - 2 * #{$side-margin});

      margin-left: $side-margin;
      margin-right: $side-margin;
      min-width: $new-width;
      width: $new-width;
    }

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    #containing-column {
      width: 100%;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .text {
        width: 100%;
        font-size: 18pt;
        line-height: 1.9em;

        $separation: 5px;
        margin-bottom: $separation;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .title {
        align-self: left;

        font-size: 30pt;
        letter-spacing: 0.1em;
        font-weight: normal;
        // all caps
        text-transform: uppercase;
      }
    }
  }
}
