<div class="container">
  <h1>Contact Us</h1>

  <div class="row row-flex">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="content colour-1">
          <a href="https://www.facebook.com/ucd.cs4k/">
            <img class="contact-img" src="/assets/images/facebook.png">
          </a>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="content colour-2">
          <a href="https://www.instagram.com/cs4kids/">
            <img class="contact-img" src="/assets/images/instagram.png">
          </a>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="content colour-1">
            <a href="https://twitter.com/cs4kidz">
              <img class="contact-img" src="/assets/images/twitter.png">
            </a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="content colour-2">
          <a href="mailto:ucd.cs4k@gmail.com">
            <img class="contact-img" src="/assets/images/gmail.png">
          </a>
        </div>
      </div>
  </div>

  <img class="contact-penguin" src="/assets/images/Contact-penguin.png">
</div>
