<div class="container">
    <div class="header" class="temp-border">
        <h1>Partner with Us!</h1>
    </div>
    <div id="container-box" class="temp-border">
      <div id="forepara" class="temp-border">
        <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CS4K is always looking for new schools, sponsors, and organizations to collaborate with.
            If you are interested, please <a href="mailto:ucd.cs4k@gmail.com">contact us here</a>. We can set up personal meetings and discuss the details! 
        </p>
      </div>
    
      <div class="mt-1" id="aa">
          <div id="partner-pic" class="temp-border p-2 container">
              <img src="../../../assets/images/IconsTemplates/partnership.jpg" alt="partner-pic" id="pic">
          </div>
          
          
            <div id="avaTime" class="temp-border p-1">
                
              <p>
              <span class="quarter">Since we are UC Davis students, we are availible during the academic quarters within the following weeks:</span>
                <br /> 
                <span class="quarter"> Fall 2019 Quarter: </span>
                <br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Week October 14th - Week December 2nd ( 8 weeks, but with thanksgiving holiday, may be 7 sessions total) 
                <br />
                <span class="quarter">Winter 2020 Quarter:  </span>
                <br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Week January 20th -  Week March 9th (8 sessions) 
                <br />
                <span class="quarter">Spring 2020 Quarter:  </span> 
                <br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Week April 13th - May 1st 
              </p>
      </div>
    
             
    
      </div>
      
    </div>
</div>