/* You can add global styles to this file, and also import other style files */

/* SECTION: override Bootstrap defaults */
// Note: overrides have to occur before the import statement for Bootstrap.

// cs4k colors
$light: #55A8DE;
$primary: #FC903C;

// body background color
$body-bg: #333366;

html {
  // The width of the vertical scrollbar creates a small -yet insuferable- amount
  // of horizontal wiggle room.
  // The issue is described here: https://stackoverflow.com/questions/30489594/prevent-100vw-from-creating-horizontal-scroll/30504010
  // My child, I'm going to go insane if the user is allowed to scroll horizontally.
  overflow-x: hidden;
}

// The Bootstrap UI framework.
// Even though ng-bootstrap and ngx-bootstrap are more efficient in an
// Angular app, we will use Bootstrap because its universality
// will make it easier to find people to maintain the website.
@import "node_modules/bootstrap/scss/bootstrap";
