// Had trouble putting this in styles.css
// https://github.com/PatrickJS/angular-starter/issues/924
@import "~bootstrap/scss/bootstrap-grid.scss";

// .temp-red-border {
//   // This temporary class helps us see element borders.
//   border-color: red;
//   border-style: solid;
//   border-width: 1px;
// }

#home {
  position: absolute;
  opacity: 0;
}

#background {
  // Take up 100% of view-width
  width: 100vw;
  // Since this element has no "positioned" ancestors,
  // it'll be positioned relative to the document body.
  // However, since it's not static, it won't take up space in the normal flow.
  position: absolute;
  // Put behind everything.
  z-index: -2;

  img {
    width: 100%;
    object-fit: contain;
  }
}

#foreground {
  width: 100vw;
  position: absolute;
  // ensure that foreground's z-index is greater than background's
  z-index: -1;

  // last time we checked, this image was 683 × 221.
  $img-height: 221px;
  $img-width: 683px;

  #title-horizontal {
    width: 100%;
    position: absolute;
    top: 15vw;
    // turn into a flexbox container
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-left: 5px;

    #title-wrapper {
      height: $img-height;
      width: 55%;

      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      
      #title-with-logo {
        max-height: $img-height;
        max-width: 100%;
        object-fit: contain;
      }
    }
  }

  @include media-breakpoint-down(md) {
    #title-horizontal {
      top: 25vw;
      justify-content: center;

      #title-wrapper {
        justify-content: center;
        height: auto;
        width: 85%;

        #title-with-logo {
          height: auto;
          width: auto;
          object-fit: contain;

          background-color: rgba($color: #000000, $alpha: 0.4);
          border-radius: 10px;
        }
      }
    }
  }

  @include media-breakpoint-down(xs) {
    #title-horizontal {
      top: 20vw;
    }
  }
}

#space-background {
  // Take up entire background width.
  width: 100%;
}

#sections {
  width: 100vw;
  position: absolute;
  top: 70vw;

  // Necessary to avoid collision with the moon.
  @media screen and (max-width: 680px) {
    top: 100vw;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  $sepatation: 10vw;

  .anchor {
    position: relative;
    bottom: 10vw;
  }

  .section {
    width: 100vw;
    margin-bottom: $sepatation;
  
    &:last-child {
      margin-bottom: 0;
    }
  }
}
