// .temp-red-border {
//   // This temporary class helps us see element borders.
//   border-color: red;
//   border-style: solid;
//   border-width: 1px;
// }

#background {
  // Take up 100% of view-width
  width: 100vw;
  // Since this element has no "positioned" ancestors,
  // it'll be positioned relative to the document body.
  // However, since it's not static, it won't take up space in the normal flow.
  position: absolute;
  // Put behind everything.
  z-index: -2;

  img {
    object-fit: fill;
  }
}

#foreground {
  width: 100vw;
  position: absolute;
  // ensure that foreground's z-index is greater than background's
  z-index: -1;

  // This should be the height of the title image.
  $title-height: 221px;

  #title-horizontal {
    width: 100%;
    position: absolute;
    top: 12.5em;
    // turn into a flexbox container
    display: flex;
    flex-direction: row;

    #title-wrapper {
      display: flex;
      flex-direction: row;

      .logo-wrapper {
        position: static;
        height: $title-height;
        width: $title-height;

        img {
          width: $title-height;
          height: $title-height;
          position: absolute;
          object-fit: contain;
        }
      }

      #title {
        height: $title-height;
      }
    }
  }
}

#space-background {
  // Take up entire background width.
  width: 100%;
}

app-team {
  width: 100vw;
}