<!--
  We hope to have different scrolling speeds for the background, foreground,
  header, and footer so let's separate them.
-->

<!-- Header Toolbar -->
<app-nav></app-nav> 

<div id="background">
  <img src="/assets/images/space-background.png" id="space-background">
</div>

<div id="foreground">

  <!--
    title-horizontal is the horizontal block in which the title resides. 
    It should stretch across the entire page width.
  -->
  <div id="title-horizontal" class="temp-red-border">
    <span id="title-wrapper" class="temp-red-border">
      
      <!-- last time we checked, this image was 683 × 221 -->
      <img id="title-with-logo"
        src="/assets/images/logo-with-titles.png"
      />
    </span>
  </div>

  <div id="apply-btn-horizontal">
    <a href="https://cs4k.typeform.com/to/p5BHF1">
      <button id="apply-btn"
        class="btn btn-primary btn-lg bg-primary text-white"
        type="button"
      >
        Apply Today!
      </button>
    </a>
  </div>

  <div id="sections">
    <!-- the id's are essential for navigation to work. -->
    
    <span id="about-us" class="anchor"></span>
    <app-about-us class="section"></app-about-us>

    <span id="team" class="anchor"></span>
    <app-team id="team" class="section"></app-team>
    
    <span id="faq" class="anchor"></span>
    <app-faq id="faq" class="section"></app-faq>
    
    <span id="contact-us" class="anchor"></span>
    <app-contact-us id="contact-us" class="section"></app-contact-us>
  </div>
</div>

<!-- we want a link to home-->
<div id="home" class="anchor"></div>
