<!--
  We hope to have different scrolling speeds for the background, foreground,
  header, and footer so let's separate them.
-->

<!-- Header Toolbar -->
<app-nav></app-nav> 

<div id="background">
  <img src="/assets/images/space-background.png" id="space-background">
</div>

<div id="foreground">

  <!-- title-horizontal is the horizontal block in which the title resides. -->
  <div id="title-horizontal" class="temp-red-border">
    <span id="title-wrapper" class="temp-red-border">
      
      <!-- last time we checked, this image was 683 × 221 -->
      <img id="title-with-logo"
        src="/assets/images/logo-with-titles.png"
      />
      
    </span>
  </div>

  <app-team></app-team>
  <app-faq></app-faq>
  
</div>
