// .temp-red-border {
//   // This temporary class helps us see element borders.
//   border-color: red;
//   border-style: solid;
//   border-width: 1px;
// }

#background {
  // Take up 100% of view-width
  width: 100vw;
  // Since this element has no "positioned" ancestors,
  // it'll be positioned relative to the document body.
  // However, since it's not static, it won't take up space in the normal flow.
  position: absolute;
  // Put behind everything.
  z-index: -2;

  img {
    width: 100%;
    object-fit: contain;
  }
}

#foreground {
  width: 100vw;
  position: absolute;
  // ensure that foreground's z-index is greater than background's
  z-index: -1;

  // last time we checked, this image was 683 × 221.
  $img-height: 221px;
  $img-width: 683px;

  #title-horizontal {
    width: 100%;
    position: absolute;
    top: 15vw;
    // turn into a flexbox container
    display: flex;
    flex-direction: row;

    // padding-left: 5px;

    #title-wrapper {
      height: $img-height;
      width: 55%;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex: 1 1 auto;

      img {
        max-height: $img-height;
        max-width: 100%;
        object-fit: contain;
      }
    }
  }
}

#space-background {
  // Take up entire background width.
  width: 100%;
}

app-team {
  width: 100vw;
}

app-faq {
  width: 100vw;
}

app-contact-us {
  width: 100vw;
}