<!-- details card section starts from here -->
<section class="details-card">
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <div class="card-content">
                  <div class="card-img">
                      <img src="../../../assets/images/info_session.png" alt="">
                      <span><h4>Info Session</h4></span>
                  </div>
                  <div class="card-desc">
                      <h3>Info Session</h3>
                      <p>Info Session #1: 105 OLSON, THURSDAY 10/03/2019 at 7:30pm</p>
                      <p>Info Session #2: 151 OLSON, TUESDAY 10/08/2019 at 7:00 pm</p>
                          <a href="#" class="btn-card">Read</a>   
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card-content">
                  <div class="card-img">
                      <img src="../../../assets/images/awards.png" alt="awards">
                      <span><h4>Awards</h4></span>
                  </div>
                  <div class="card-desc">
                      <h3>Advancing Academic and Career Goals</h3>
                      <p>CS4K won the Center for Student Involvement Leadership Award for Advancing Academic and Career Goals! This award is in recognition of a registered student organization that successfully promotes academic achievement and provides opportunities for a diverse range of students to explore new areas of interest and develop academic and/or professional qualifications for future success.</p>
                          <a href="https://www.instagram.com/p/Bxf8pXnHnpC/" class="btn-card">Read</a>   
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card-content">
                  <div class="card-img">
                      <img src="https://placeimg.com/380/230/tech" alt="">
                      <span><h4>syllabus</h4></span>
                  </div>
                  <div class="card-desc">
                      <h3>Syllabus</h3>
                      <p>Dear volunteers, please check out our syllabus to learn more about our courses.</p>
                          <a href="#" class="btn-card">Read</a>   
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- details card section starts from here -->