<div class="container">
  <div class="header">
    <h1>Frequently Asked Questions</h1>
  </div>
  <div class="container-fluid">
      <div class="row blog">
        <div class="col-md-7 bg-transparent">
          <div class="col-md-12 bg-custom-color top-col" id="col-top-left">
            <p class="question"><strong>Q: Who can volunteer? </strong></p>
            <p>A: Anyone with a passion for computer science and 
              teaching can volunteer! We are currently accepting 
              new applicants! If you would like to become a volunteer, 
              please
              <a href="https://cs4k.typeform.com/to/p5BHF1"> apply here.</a>
            </p>
          </div>
          <div class="col-md-12 bg-custom-color bottom-col" id="col-bottom-left">
            <p class="question"><strong>Q: How can I partner with CS4K? </strong> </p>
            <p>A. CS4K is always looking for new schools, sponsors, 
              and organizations to collaborate with. If you are 
              interested, please contact us
              <a href="mailto:ucd.cs4k@gmail.com">contact us here.</a>
            </p>
            <p class="question"><strong>Q: What will I do as a volunteer? </strong></p>
            <p>A: As a volunteer, you will teach weekly lessons to 
              guide students on their project. These lesson plans 
              will be provided to you, or you may create your own 
              lesson plans.</p>
          </div>
        </div>
        <div class="col-md-5 bg-transparent">
          <div class="col-md-12 bg-custom-color" id="col-right">
            <p class="question"><strong>Q: Where do I go if I still have questions
                about the program? </strong> </p>
              <p>A. Please contact us 
                <a href="mailto:ucd.cs4k@gmail.com">contact us here.</a>
                with your questions. A member from our team will respond within 2-3 days.
              </p>

            <p class="question"><strong>Q: Is it possible to receive units for 
              volunteering? </strong></p>
            <p>A: Yes, students with 84 units 
              or more are eligible to receive ECS 197T units towards 
              graduation. Each unit requires 3 hours per week.</p>
          </div>
        </div>
      </div>
  </div>
</div>