<div class="container">
  <div class="header">
    <h1>Sponsors</h1>
  </div>

  <div id="background">
    <div id="leftsection">
      <h1 class="title">Why Sponsors?</h1>
      <ul>
        <li>
          Help expand on more teaching spaces and resources to communities that
          are underserved
        </li>
        <li>Open the doors to a potential career path for kids</li>
        <li>Create a lasting impact on the next generation of kids</li>
        <li>
          Support inclusivity for individuals with mental disabilities who want
          to learn how to code
        </li>
        <li>
          Promote and grow your organization / business / school and connect
          with new customers
        </li>
      </ul>
    </div>
    <div id="rightsection">
      <h1 class="title">What Your Donation Will Go Towards</h1>
      <ul>
        <li>
          Expanding our teaching resources beyond our local communities
          established in Davis and Woodland
        </li>
        <li>
          Awarding prizes and rewards for our end of the year event for
          children, volunteers, teachers, and parents
        </li>
        <li>Providing safe transportation for our volunteers</li>
        <li>
          Enhancing teaching resources provided during sessions such as
          worksheets, starter kits, etc.
        </li>
        <li>Supporting us in keeping our website online for our users</li>
      </ul>
    </div>
  </div>
</div>
