
  <div class="container" id="team">
    <h1>Team</h1>
    <div class="row row-flex">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="content colour-1">
          <img class="director-img" src="/assets/images/Mary.png">
          <h2>Mary Hamidi</h2>
          <h3>President</h3>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="content colour-2">
          <img class="director-img" src="/assets/images/Jamie.png">
          <h2>Jamie Tran</h2>
          <h3>Treasurer/Curriculum Creators</h3>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="content colour-2">
          <img class="director-img" src="/assets/images/Adrian.png">
          <h2>Adrian Roman</h2>
          <h3>Curriculum Creators</h3>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="content colour-3">
          <img class="director-img" src="/assets/images/Andres.png">
          <h2>Andres Ortiz</h2>
          <h3>Community Relations Director</h3>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="content colour-4">
          <img class="director-img" src="/assets/images/Maayez.png">
          <h2>Maayez Imam</h2>
          <h3>Marketing & Publicity Director</h3>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="content colour-5">
          <img class="director-img" src="/assets/images/Abdullah.png">
          <h2>Abdullah Ibrahim Mohammed</h2>
          <h3>Marketing & Publicity Director</h3>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="content colour-6">
          <img class="director-img" src="/assets/images/Bri.png">
          <h2>Briana Omori</h2>
          <h3>Design Chair</h3>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="content colour-4">
          <img class="director-img" src="/assets/images/Yiran.png">
          <h2>Yiran Wu</h2>
          <h3>Technology Chair</h3>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="content colour-6">
          <img class="director-img" src="/assets/images/Jingyi.png">
          <h2>Jingyi Zhu</h2>
          <h3>Technology Chair</h3>
        </div>
      </div>
    </div>
    
  </div>