
  <div class="container" id="team">
    <h1>Team</h1>
    <div class="row row-flex">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="content colour-1">
          <img src="/assets/images/Karen.png">
          <h2>Karen Chen</h2>
          <h3>Founder/Co-President</h3>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="content colour-2">
          <img src="/assets/images/Sadaf.png">
          <h2>Sadaf Arshad</h2>
          <h3>Treasurer</h3>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="content colour-3">
          <img src="/assets/images/Andrew.png">
          <h2>Andrew Tsung</h2>
          <h3>Community Relations Director</h3>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="content colour-4">
          <img src="/assets/images/Isabel.png">
          <h2>Isabel Kalogiannis</h2>
          <h3>Marketing & Publicity Director</h3>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="content colour-5">
          <img src="/assets/images/Jess.png">
          <h2>Jess Nguyen</h2>
          <h3>Marketing & Publicity Director</h3>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="content colour-6">
          <img src="/assets/images/Vivienne.png">
          <h2>Vivienne Zing</h2>
          <h3>Design Chair</h3>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="content colour-4">
          <img src="/assets/images/Jose.png">
          <h2>Jose Alvarado</h2>
          <h3>Technology Chair</h3>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="content colour-5">
          <img src="/assets/images/Hajra.png">
          <h2>Hajra Mobashar</h2>
          <h3>Technology Chair</h3>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="content colour-6">
          <img src="/assets/images/Jingyi.png">
          <h2>Jingyi Zhu</h2>
          <h3>Design Chair</h3>
        </div>
      </div>
    </div>
    
  </div>